<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MountBlue Blog Post</title>
    <meta name="description" content="">
    <meta name="viewport" content="width:device-width,initial-scale=1">
    <link rel="stylesheet" th:href="@{indexStyle.css}">
</head>
<body>


<main>
    <header class="div1">
       <a th:href="@{/}"> <img class="logo"  src="BlogPostLogo.png" alt="logo"></a>
        <nav>
            <ul class="navLinks">
                <li><a href="/userlogin" target="_blank">Author Login</a></li>
                <li><a href="/user_signup" target="_blank">Author SignUp</a></li>
                <li><a href="/post">Admin Login</a></li>
            </ul>
        </nav>
        <a class="cta" href="#">Contact</a>
    </header>

    <div class="div5">

        <div><h2>Tags</h2></div>
        <hr style="color:gray;margin-bottom:10px;">
        <a class="tagStyle" href="#" th:each="items:${tags}">
            <span th:text="${items.name}">Artificial</span>
        </a>
    </div>

    <div class="div6">

        <div class="card-container" th:each="items : ${post}">
            <div class="city">
                <a th:href="@{/viewpost?id=} + ${items.id}">
                    <div class="city-image">
                        <img src="http://lorempixel.com/output/city-q-g-640-480-1.jpg" alt="city">
                    </div>
                    <div class="description">
                        <h2 th:text="${items.title}">Title</h2>
                        <h3 th:text="${items.excerpt}"></h3>
                        <h4 th:text="${items.author}">Author</h4>
                        <h5 th:text="${items.publishedAt}">Publish Date</h5>
                    </div>
                </a>
            </div>

        </div>

    </div>
            <di style="margin-left:115%;display:flex;justify-content:center;">
                <a th:href="@{/?page=}"+1 style="color:black">Previous</a><span style="color:black;margin-left:5px;margin-right:5px;"> | </span>
                <a th:href="@{/?page=}"+1 style="color:black">Next</a>


            </di>
    <div class="div7">
        Footer
    </div>
</main>

</body>
</html>