<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Sign_Up Portal</title>
    <style>
        input{
        padding:5px;
        margin :5px;
        }
    .container-form{
    display: flex;
    justify-content: center;
    border: 10px;
    background-color: aliceblue;
    align-content: center;

    }
    </style>
</head>
<body>

<div class="container-form">

    <form action="user_signup" method="post">
        <table>
            <thead><tr><th colspan="2"><h2>Enter Your SignUp Details</h2><hr></th>
            </tr></thead>
            <tr>
                <td><label>Enter Your Name : </label></td>
                <td><input type="text" name="name" placeholder="Enter Your Name" required><br></td>
            </tr>
            <tr>
                <td><label>Enter Your Email : </label></td>
                <td><input type="email" name="email" placeholder="Enter Your Email Address" required><br></td>
            </tr>
            <tr>
                <td><label>Enter Your Password : </label></td>
                <td><input type="password" name="password" placeholder="Enter Your Password" required><br></td>
            </tr>

        </table>
        <input style="margin-left: 33%;" type="submit">
    </form>
</div>

</body>
</html>